body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
img{
	max-width: 100%;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
header{
	background-image: url(../img/header-bg.jpg);
}
.top-line{
	padding: 20px 0;
	border-bottom: 1px solid rgba(255,255,255,.38);
}
/*.logo-block{
	display: inline-block;
	color: #fff;
	background-color: #11749e;
	font-family: 'Open Sans';
	font-size: 30px;
	font-weight: 700;
	text-decoration: none;
	padding: 20px;
	position: relative;
	z-index: 2;
}
.logo-subblock{
	width: 70px;
	height: 70px;
	margin-bottom: -60px;
	top: -60px;
	left: 17px;
	display:block;
	background-color: #fff;
	opacity: .75;
	position: relative;
	z-index: 1;
}
*/
nav{
	
}
.navigation{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}
.navigation-item{
	text-decoration: none;
	text-transform: capitalize;
	color: #fff;
	font-size: 20px;
	padding-bottom: 43px;
}
.navigation-item:hover{
	border-bottom: 6px solid #11749e;
}
.social{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.social-icon{
	color: #fff;
}
.social-icon:hover{
	opacity: .7;
}
.header-title{
	text-align: center;
	color: #fff;
	font-size: 152px;
	letter-spacing: -1.92px;
	text-transform: uppercase;
	margin-top: 140px;
	margin-bottom: 15px;
}
.header-subtitle{
	color: #11749e;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 7.88px;
	margin-bottom: 50px;
}
.scroll-title{
	font-size: 13px;
	color: #fff;
	text-transform: capitalize;
	text-align: center;
	font-family: 'Open Sans';
	padding-bottom: 20px;
	margin-bottom: 0;
}
.scroll-btn{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	padding-bottom: 110px;
}
.scroll-arrow{
	width: 60px;
	height: 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	color: #f5f5f5;
	border-radius: 50%;
	border: 1px solid #f5f5f5;
	font-size: 20px;
	text-decoration: none;
	transition: ease-in-out .2s;
}
.scroll-arrow:hover{
	font-size: 24px;
}
/*SECTION ABOUT*/
.about{
	background-color: #11749e;
}
.wattermark{
	position: absolute;
	width: 100%;
	margin: 0;
	padding-top: 100px;
	opacity: 0.18;
	color: #ffffff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 247px;
	font-weight: 700;
	line-height: 210.64px;
	text-transform: uppercase;
	text-align: center;
}
.section-header{
	padding-top: 190px;
	margin-top: 0;
	text-align: center;
	color: #ffffff;
	font-size: 38px;
	letter-spacing: 4px;
	font-weight: 500;
	text-transform: uppercase;
}
.section-block{
	margin-top: 110px;
	margin-bottom: 130px;
}
.block-icon{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 130px;
	width: 130px;
	margin: auto;
	color: #fff;
	font-size: 36px;
	text-align: center;
	border-radius: 50%;
	background-color: #2e85aa;
}
.block-header{
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
}
.block-description{
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}

/*SECTION NEWS*/
.news-blocks{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.news-block{
	max-width: 50%;
}
.news_dark{
	background-color: #222222;
	color:#fff;
}
.news-light{
	color: #222222;
}
.news-title{
	padding-top: 50px;
}
.news-title-item{
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	padding: 0 10px;
	border-right: 2px solid #fff;
}
.news-title-item:first-child{
	padding-left: 0;
}
.news-title-item:last-child{
	border-right: none;
}
.news-title-item:hover{
	text-decoration: underline;
}
.news-category{
	text-transform: capitalize;
}
.news-header{
	margin-top: 30px;
	margin-bottom: 35px;
	font-size: 25px;
	text-transform: uppercase;
}
.news-description{
	font-size: 15px;
	line-height: 24px;
}
