body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
img{
	max-width: 100%;
}
header{
	background-image: url(../img/header-bg.jpg);
}
.preloader{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #222;
	z-index: 105;
	transition: 1s all;
	opacity: 1;
	visibility: visible;
}
.preloader.done{
	opacity: 0;
	visibility: hidden;
}
.loader{
	width: 75px;
	height: 75px;
	border: 10px solid #fff;
	border-radius: 50%;
	border-top-color: #11749e;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: 1s spin infinite linear;
}
@keyframes spin{
	from{
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to{
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
.top-line{
	padding: 20px 0;
	border-bottom: 1px solid rgba(255,255,255,.38);
}
/*.logo-block{
	display: inline-block;
	color: #fff;
	background-color: #11749e;
	font-family: 'Open Sans';
	font-size: 30px;
	font-weight: 700;
	text-decoration: none;
	padding: 20px;
	position: relative;
	z-index: 2;
}
.logo-subblock{
	width: 70px;
	height: 70px;
	margin-bottom: -60px;
	top: -60px;
	left: 17px;
	display:block;
	background-color: #fff;
	opacity: .75;
	position: relative;
	z-index: 1;
}
*/
nav{
	
}
#hamburger-menu{display: none;}
.navigation{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}
.navigation-item{
	text-decoration: none;
	text-transform: capitalize;
	color: #fff;
	font-size: 20px;
	padding-bottom: 43px;
}
.navigation-item:hover{
	border-bottom: 6px solid #11749e;
}
.social{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.social-icon{
	color: #fff;
}
.social-icon:hover{
	opacity: .7;
}
.header-title{
	max-width: 100%;
	text-align: center;
	color: #fff;
	font-size: 152px;
	letter-spacing: -1.92px;
	text-transform: uppercase;
	margin-top: 140px;
	margin-bottom: 15px;
}
.header-subtitle{
	color: #11749e;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 7.88px;
	margin-bottom: 50px;
}
.scroll-title{
	font-size: 13px;
	color: #fff;
	text-transform: capitalize;
	text-align: center;
	font-family: 'Open Sans';
	padding-bottom: 20px;
	margin-bottom: 0;
}
.scroll-btn{
	display: flex;
	justify-content: center;
	padding-bottom: 110px;
}
.scroll-arrow{
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f5f5f5;
	background-color: transparent;
	border-radius: 50%;
	border: 1px solid #f5f5f5;
	font-size: 20px;
	text-decoration: none;
	transition: ease-in-out .2s;
}
.scroll-arrow:hover{
	font-size: 24px;
}
/*SECTION ABOUT*/
.about{
	background-color: #11749e;
}
.wattermark__light{
	position: absolute;
	width: 100%;
	margin: 0;
	padding-top: 100px;
	color: #fff;
	opacity: 0.18;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 247px;
	font-weight: 700;
	line-height: 210.64px;
	text-transform: uppercase;
	text-align: center;
}
.section-header__light{
	padding-top: 190px;
	margin-top: 0;
	text-align: center;
	color: #ffffff;
	font-size: 38px;
	letter-spacing: 4px;
	font-weight: 500;
	text-transform: uppercase;
}
.section-block{
	margin-top: 110px;
	margin-bottom: 130px;
}
.block-icon{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 130px;
	width: 130px;
	margin: auto;
	color: #fff;
	font-size: 36px;
	text-align: center;
	border-radius: 50%;
	background-color: #2e85aa;
}
.block-header{
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
}
.block-description{
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}

/*SECTION NEWS*/
.news-blocks{
	display: flex;
	flex-wrap: wrap;
}
.news-block{
	max-width: 50%;
}
.news_dark{
	background-color: #222222;
	color:#fff;
}
.news-light{
	background-color: #f3f3f3;
	color: #222222;
}
.news-title{
	padding-top: 50px;
}
.news-title__dark a{
	color: #222222;
	border-right: 2px solid #222222;
}
.news-title-item{
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	padding: 0 10px;
	border-right: 2px solid #fff;
}
.news-title-item:first-child{
	padding-left: 0;
}
.news-title-item:last-child{
	border-right: none;
}
.news-title-item:hover{
	text-decoration: underline;
}
.news-img{
	height: 100%;
}
.news-category{
	text-transform: capitalize;
}
.news-header{
	margin-top: 30px;
	margin-bottom: 35px;
	font-size: 25px;
	text-transform: uppercase;
}
.news-description{
	font-size: 15px;
	line-height: 24px;
}



.wattermark__dark{
	position: absolute;
	width: 100%;
	margin: 0;
	padding-top: 100px;
	color: #222222;
	opacity: 0.18;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 247px;
	font-weight: 700;
	line-height: 210.64px;
	text-transform: uppercase;
	text-align: center;
}
.section-header__dark{
	padding-top: 190px;
	margin-top: 0;
	text-align: center;
	color: #222222;
	font-size: 38px;
	letter-spacing: 4px;
	font-weight: 500;
	text-transform: uppercase;
}
.section-title__dark{
	text-align: center;
	margin-top: 110px;
	margin-bottom: 70px;
	color: #222222;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 37px;
}

/*SECTION BLOG*/
.blog{
	padding-bottom: 100px;
}
.blog-item-header{
	color: #11749e;
	font-size: 18px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
}
.blog-item-description{
	text-align: center;
	color: #222222;
	font-size: 15px;
	line-height: 24px;
}
/*SECTION ACTION*/
.action{
	background-color: #11749e;
}
.action-item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
}
.action-icon{
	font-size: 65px;
	color: #fff;
	margin-right: 15px;
}
.action-description{
	color: #ffffff;
	font-size: 15px;
	line-height: 24px;
}
/*SECTION FEATURES*/
.features{
	background-image: url(../img/features-bg.jpg);
}
.features-img{
	padding: 100px 0;
	text-align: center;
}
.features-block{
	margin-top: 200px;
}
.features-header{
	color: #ffffff;
	font-size: 25px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.features-description{
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 50px;
}
.advantages{
	margin: 30px 0;
	background-color: #11749e;
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 10px 20px;
}
.advantages-first{
	width: 85%;
}
.advantages-second{
	width: 95%;
}
/*SECTION TEAM*/
.team{
	padding-bottom: 50px;
}
.member-description{
	position: relative;	
	top: -50px;
	left: 10%;
	right: 10%;
	width: 80%;
	background-color: #fff;
}
.member-name{
	text-align: center;
	color: #11749e;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;

}
.member-position{
	text-align: center;
	margin-top: 0;
	color: #000000;
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
}
/*SECTION CONTACT*/
.contact{
	background-image: url(../img/contact-bg.jpg);
}
.contact-form{
	margin-top: 150px;
	padding-bottom: 100px;
}
.form-control{
	width: 100%;
	padding: 15px;
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
}
.form-message{
	margin-top: 40px;
}
.submit-wrapper{
	width: 100%;
	text-align: center;
}
.form-submit{
	margin-top: 45px;
	background-color: #11749e;
	color: #ffffff;
	font-size: 24px;
	text-transform: uppercase;
	padding: 10px 60px;
}
.footer{
	background-color: #222222;
	color: #fff;
	padding: 30px 0;
}
.copyright-block{
	display: flex;
	justify-content: space-between;
}
.copyright{
	text-align: center;
}
#sroll-btn{
	position: fixed;
	display: none;
	width: 40px;
	height: 40px;
	right: 40px;
	bottom: 30px;
	color: #fff;
	background-color: #222222;
	opacity: .6;
	border-radius: 50%;
	border: 1px solid #fff;
	font-size: 20px;
	text-decoration: none;
	transition: ease-in-out .2s;
	z-index: 99;
	cursor: pointer;
}
#sroll-btn:hover{
	opacity: 1;
}
@media screen and (max-width: 1200px){
	#hamburger-menu{
		display: block;
		position: absolute;
		top: 30px;
		right: 30px;
		background: transparent;
		border: none;
		color: #fff;
		font-size: 40px;
	}
	.navigation{
		display: flex;
		flex-direction: column;
		position: fixed;
		width: 50%;
		height: 100vh;
		margin-top: 0;
		text-align: center;
		background-color: #222;
		top: 0;
		right: -50%;
		padding-left: 0;
		z-index: 5;
		transition: all .2s;
	}
	.navigation-item{
		display: block;
		width: 100%;
		padding:30px 0;
		transition: all .3s;
	}
	.navigation-item:hover{
		color: #222;
		background-color: #fff;
		border-bottom: none;
}
	.social{
		display: none;
	}
}
@media screen and (max-width: 992px){
	.header-title{
		font-size: 90px;
	}
	.header-subtitle{
		font-size: 18px;
	}
	.about{
		padding-bottom: 100px;
	}
	.section-block{
		margin: 40px 0;
	}
}
@media screen and (max-width: 768px){
	.section-block{
		margin: 40px 0;
	}
	.blog{
		padding-bottom: 50px;
	}
	.blog-item{
		text-align: center;
		margin-bottom: 70px;
	}
	.form-control{
		margin-bottom: 15px;
	}
	.form-message{
		margin-top: 0;
	}
}
@media screen and (max-width: 576px){
	.header-title{
		font-size: 50px;
	}
	.action-icon, .features-img{
		display: none;
	}
	.features-block,{
		margin-top: 100px;
		padding-bottom: 50px;
	}
	.news-blocks{
		flex-direction: column;
	}
	.news-block-img{
		display: none;
		width: 0;
	}
	.news-block{
		max-width: 100%;
	}
	.member{
		text-align: center;
	}
	.member-photo{
		text-align: center;
	}
	.copyright-block{
		flex-direction: column;
	}
}